#enquiries_h2{
    font-size: 40px;
    margin-left: 45%;
}
.enquiries_sect{
       display:flex;
}
.contact-part{
    margin:100px 10px 40px 20%;
}
.form-part{
       box-shadow: rgba(53, 55, 58, 0.2) 0px 8px 24px;
       margin-left: 20%;
       margin-bottom: 20px;
       width:480px;
       height: 630px;
}
.form-part h3{
       font-weight: 600;
       margin-left: 150px;
       font-family: 'Courier New', Courier, monospace;
}
.field{
       margin-left: 20px;  
}
::placeholder{
       font-family: 'Courier New', Courier, monospace;
}
   
  

.input_fields{
    width:430px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
}
   
   
.radiobtn-gender{
       display: flex;
       gap:10px;
}
   
.image{
       width: 30px;
       height:30px;
       margin-right: 20px;
}
ul{
       list-style: none;
       
}
li{
       display: flex;
       font-family: 'Courier New', Courier, monospace;
       font-size: 17px;
       margin-bottom: 20px;
}
.submitbutton{
       margin-top:10px;
       margin-left:25%;
       background-color: rgb(99, 112, 215);
       width: 200px;
       height: 50px;
       font-size: 25px;
       border-width: 2px;
       border-color: rgb(26, 21, 21); 
}